.feature{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid transparent;
    margin: 10px;
    transition: all 0.3s;
}

.feature:hover{
    border:1px solid black;
}

.img{
    height: 20px;
    width: 20px;

}

.heading{
    padding: 30px 0;
    font-size: 24px;
    font-weight: bold;
}